[Unit]
Description=Gogs Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a gogs
ExecStop=/usr/bin/docker stop -t 2 gogs

[Install]
WantedBy=default.target
